@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsla( 329.01098901,80.53097345%,77.84313725% ,1)
}

.heading {
  font-family: 'Protest Riot', sans-serif;
  font-size: 42px;
  text-align: center;
}
.colored {
  color: #F9f1cc;
  text-shadow: 2px 2px 0px #FFB650, 4px 4px 0px #FFD662, 6px 6px 0px #FF80BF, 8px 8px 0px #EF5097, 10px 10px 0px #6868AC;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 img {
  max-height: 90vh;
 }

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  /* max-height:120vh;  */
  padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }

}

@media screen and (max-width: 900px) {
  main {
    margin: 0px auto;
    padding: 0px;
  }
  .frame {
    margin: 0px;
    padding: 0px;
  }
}